<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UniPro : Manage Project</title>
</head>
<body>
<h1>Manage project : <span th:text="${project.name}" ></span></h1>

<ul>
<li th:each="entry: ${hoursByResearcher}">
    <span th:text="${entry.key.firstName}+' '+ ${entry.key.lastName}"> John Smith</span>
    <form action="/generate-report-project" >
        <input type="hidden" name="pid" value="10" th:value="${project.id}">
        <input type="hidden" name="rid" value="10" th:value="${entry.key.id}">
        Generate report for month : <input type="number" min="1" max="12" name="month">
        year :  <input type="number" min="2020" max="2025" name="year">
        <input type="submit" value="Generate Report"/>
    </form>
         <br>
    <ul>
        <li th:each="hour : ${entry.value}">
            <span th:text="${hour.date}"></span>
            <span th:text="${hour.hoursWorked}"></span> hours
            <a href="approve?id=10" th:href="@{approve(id=${hour.id})}">Approve</a>
            <a href="reject?id=10" th:href="@{reject(id=${hour.id})}">Reject</a>
        </li>
        <span th:if="${entry.value.isEmpty()}">No unapproved hours.</span>

    </ul>
</li>
</ul>

<a href="researcher?id=10" th:href="@{researcher(id=${researcher.id})}">Back</a>

</body>
</html>