<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UniPro : Your Report</title>
</head>
<body>
<h1><span  th:text="${month}+ '/' + ${year}"></span> </h1>
<h2>Project</h2>
Project Name : <span th:text="${project.name}"></span><br>
Project Code : <span th:text="${project.projectCode}"></span><br>
Funding Agency : <span th:text="${project.fundingAgency}"></span><br>

<h2>Researcher</h2>
Name : <span th:text="${researcher.firstName}"></span><br>
Last Name : <span th:text="${researcher.lastName}"></span><br>
Email : <span th:text="${researcher.email}"></span><br>
Fiscal Code : <span th:text="${researcher.fiscalCode}"></span><br>


<table border="1">
  <thead>
  <tr>
    <th>Project</th>
    <th th:each="day : ${days}" th:text="${day}">Day</th>
    <th> Total </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td th:text="${project.name}">Project Name</td>
    <td th:each="val : ${hoursWorkedOnProject}" th:text="${val}== -1 ? 'X': ${val}">0</td>
  </tr>

  <tr>
    <td>Same Agency Projects</td>
    <td th:each="val : ${hoursWorkedOnProjectSameAgency}" th:text="${val}== -1 ? 'X': ${val}">0</td>
  </tr>

  <!-- Loop through the hoursWorkedOnOther list -->
  <tr>
    <td>Other Projects</td>
    <td th:each="val : ${hoursWorkedOnOther}" th:text="${val}== -1 ? 'X': ${val}">0</td>
  </tr>
  <tr>
    <td>Total</td>
    <td th:each="val : ${totalPerDay}" th:text="${val}== -1 ? 'X': ${val}">0</td>
  </tr>
  </tbody>
</table>
X : day off <br>

<a href="project?id=10" th:href="@{project(id=${project.id})}">Back</a>


</body>
</html>