<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UniPro : Your page</title>
</head>
<body>
<h1>Welcome, <span th:text="${researcher.firstName}+ ' ' + ${researcher.lastName}" ></span></h1>

<h2 >Your Projects as PI</h2>
<ul id="projectsAsPIList">
    <li th:each="project : ${researcher.projectsAsPI}" id="projectAsPI-${project.id}">
        <span th:text="${project.name}"></span>
        <a href="project?id=10" th:href="@{project(id=${project.id})}">Manage Project</a>
    </li>
</ul>

<h2>Projects You're Working On</h2>
<ul id="projectsList">
    <li th:each="project : ${researcher.projects}" id="projectsList-${project.id}">
        <span th:text="${project.name}"></span>
        <a th:href="@{'/addhours?rid=' + ${researcher.id} + '&pid=' + ${project.id}}">Add hours</a></ul>

Generate report for
<form action="/generate" >
    <input type="hidden" name="id" value="10" th:value="${researcher.id}"> <br>
    month : <input type="number" min="1" max="12" name="month">
    year :  <input type="number" min="2020" max="2025" name="year"><br>
    <input type="submit" value="generate"/>
</form>
<a href="/" >Log out</a>

</body>
</html>
